@model LimpiaMAS.Models.TbDisponibilidad
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head></head>
    <body>
        <div class="navbar">
            <div class="logo"><a asp-controller="Limpia" asp-action="Index">LIMPIAMÁS</a></div>
            <ul class="links">
                <li>
                    <a asp-controller="Limpia" asp-action="Servicios">Servicios</a>
                </li>
                <li>
                    <a asp-controller="Limpia" asp-action="Nosotros">Nosotros</a>
                </li>
                <li>
                    <a asp-controller="Limpia" asp-action="Login">Ingresar</a>
                </li>
                <li>
                    <a asp-controller="Trabajador" asp-controller="Trabajador" asp-action="FormTrabajador">Trabaja con nosotros</a>
                </li>
            </ul>
            <a asp-controller="Limpia" asp-action="Register" class="register-btn">Registrate!</a>
            <div class="toggle-btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="menu_desplegable">
            <li>
                <a asp-controller="Limpia" asp-action="Servicios">Servicios</a>
            </li>
            <li>
                <a asp-controller="Limpia" asp-action="Nosotros">Nosotros</a>
            </li>
            <li>
                <a asp-controller="Limpia" asp-action="Login">Ingresar</a>
            </li>
            <li>
                <a asp-controller="Trabajador" asp-controller="Trabajador" asp-action="FormTrabajador">Trabaja con nosotros</a>
            </li>
            <li><a asp-controller="Limpia" asp-action="Register" class="register-btn">Registrate!</a></li>
        </div>
        <div class="contenedor">
            <div class="titulo">Formulario de trabajadores</div>
            <div class="contenido">
                <form asp-controller="Register" asp-action="new_dis" method="post" enctype="multipart/form-data">
                    <div class="detalles-trabajador">
                    <!-- <input type="hidden" asp-for="IdLimp" /> -->
                        <!--<div class="input-box">
                                <span class="detalles">Nombre</span>
                                <input type="text" asp-for="NomLimp" placeholder="Ingresa tu nombre" required>
                            </div>
                            <div class="input-box">
                                <span class="detalles">Apellidos</span>
                                <input type="text" asp-for="ApeLimp" placeholder="Ingresa tus apellidos" required>
                        </div>-->
                        <div class="input-box">
                            <span class="detalles">Fecha Disponibilidad</span>
                            <input type="date" asp-for="FecDis" placeholder="Ingrese fecha" required>
                        </div>
                        <div class="input-box">
                            <span class="detalles">Hora de inicio:</span>
                            <input type="time" asp-for="TStart" placeholder="Ingrese la hora" required>
                        </div>
                        <div class="input-box">
                            <span class="detalles">Hora de finaliazación:</span>
                            <input type="time" asp-for="TDone" placeholder="Ingrese la hora" required>
                        </div>
                    <div class="button">
                        <!--<input type="hidden" name="genLimp" id="genLimpHidden" value="" />-->
                        <input type="submit" value="Registrar">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>