@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head></head>
    <body>
        <h2>GRACIAS POR CONFIAR EN LIMPIAMAS!</h2>
    </body>
</html>