@model LimpiaMAS.Models.TbUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/register.css" />
    </head>
    <body>
        <main class="container-fluid">
            <form asp-controller="Register" asp-action="new_usr" method="post">
                <h2 class="title">Register</h2>
                <div class="container">
                    <label class="label">Nombre:</label>
                    <input type="text" class="input_D" asp-for="Nom" placeholder="Ingresar nombres" />
                    <label class="label">Apellido:</label>
                    <input type="text" class="input_D" asp-for="Ape" placeholder="Ingresar apellidos" />
                    <label class="label">Usuario:</label>
                    <input type="text" class="input_D" asp-for="Usr" placeholder="Cree Usuario" />
                    <label class="label">Contraseña:</label>
                    <input type="password" class="input_D" asp-for="Pwd" placeholder="Establezca Contraseña" />
                    <label class="label">Confirmar Contraseña:</label>
                    <input type="password" class="input_D" id="pwd" placeholder="Confirmar Contraseña" />
                </div>

                <input type="submit" value="CREAR CUENTA" />
                <p>Regresar a la <a asp-action="Index">Página principal</a> </p>
            </form>
        </main>
    </body>
</html>